In [3]:
import pandas as pd

In [7]:
df = pd.read_csv("uiuc-students-by-state.csv")
df.head()

     State  Year  Undergrad  Professional  Grad  Total
0  Alabama  2017         20            14   2.0     36
1  Alabama  2016         17            15   2.0     34
2  Alabama  2015         15            15   1.0     31
3  Alabama  2014         10            17   0.0     27
4  Alabama  2013          7            11   1.0     19